footer {
  width: 100%;
  height: 20rem;
  bottom: 0;
  display: flex;
  background: var(--bgPointColor);
  justify-content: center;
}

.contentsFooter {
  width: 132rem;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.footerLink {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: space-between;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerLogo a {
  width: 28.5rem;
  height: 9rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1rem;
}

.footerLogoImg {
  width: 7rem;
  height: 7rem;
  background: url(/img/레뮤제_로고.png);
  background-size: 7rem;
}

.transparency .footerLogoImg {
  width: 7rem;
  height: 7rem;
  background: url(/img/레뮤제\ 로고_white.png);
  background-size: 7rem;
}

.footerLogoTitle {
  width: 18rem;
  height: 100%;
  color: var(--title);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

.transparency .footerLogoTitle {
  color: var(--white);
}

.footerLogoTitle span {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.3rem;
  text-align: left;
  color: inherit;
}

.footerLogoTitle p {
  width: 100%;
  height: 2.4rem;
  font-size: 0.8rem;
  line-height: normal;
  letter-spacing: -0.04rem;
  text-align: left;
  color: inherit;
}

.footerInfo {
  width: 86rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: space-between;
}

.footerInfoDiv {
  width: 18rem;
  height: 100%;
  padding: 2rem 2rem 0rem 1rem;
  display: flex;
  flex-direction: column;
}

.footerTitle {
  width: 100%;
  height: 2.1rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: left;
  color: var(--title);
}

.transparency .footerTitle {
  width: 100%;
  height: 2.1rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: left;
  color: var(--white);
}

.footerInfoDiv .footerText {
  width: 100%;
  height: 1.6rem;
  font-size: 1.1rem;
  font-weight: normal;
  letter-spacing: -0.05rem;
  text-align: left;
  color: var(--unselectedText);
}

.footerInfoDiv:nth-child(1) {
  margin-top: 0.5rem;
}

.designerInfo {
  width: 100%;
  height: 6rem;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--unselectedText);
}
