@import "/css/convention.css";
@import "/css/variables.css";

/*------------최신 영상------------*/

.mainRecent {
  background: var(--bgPointColor);
  flex-direction: column;
  align-items: center;
}

.contentsRecent {
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0 4rem;
}

.titleBox {
  display: flex;
  justify-content: flex-start;
}

/*------------추천 영상------------*/

.mainRecommend {
  background: var(--backgroundColor);
  flex-direction: row;
  justify-content: center;
}

.contentsRecommend {
  padding: 15rem 0 20rem;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.recommendLecture {
  width: 100%;
  height: 85rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: space-between;
  grid-column-gap: 4rem;
}

.recommendLectureCard {
  width: 29rem;
  height: 40rem;
  padding: 27rem 1rem 3rem;
  border-radius: 1rem;
  color: var(--white);
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.9) 82%,
      #000 100%
    ),
    url(/img/card\ img.png);
  background-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recommendLectureCard:hover {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, #000 100%),
    url(/img/card\ img.png);
}

.recommendLectureCard:active {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    url(/img/card\ img.png);
  color: var(--title);
}

.recommendLectureTitle h4 {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -0.05rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: inherit;
}

.recommendLectureInfo {
  width: 100%;
  height: 7.4rem;
  font-size: 1.3rem;
  letter-spacing: -0.02rem;
  text-align: left;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  color: inherit;
}

/*------------금주의 레뮤지앙------------*/

.mainLemusien {
  width: 100%;
  height: 64.5rem;
}

.lemusienSlideShow {
  height: 64.5rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.centerAlign {
  text-align: center;
  position: relative;
  transform: translate(0%, -40%);
}

.centerAlign img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}

.contentsLemusien {
  height: 64.5rem;
  width: 132rem;
  position: relative;
  top: -64.5rem;
  margin: auto;
}

.controller {
  position: relative;
  top: 47%;
  display: flex;
  justify-content: space-between;
}

.controller button {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.mainPrev {
  position: inherit;
  left: -5rem;
}

.mainNext {
  position: inherit;
  right: -5rem;
}

.controller button:hover {
  background: rgba(219, 219, 219, 0.8);
}

.controller button:active {
  background: var(--white);
}

.lemusienInfo {
  width: 40rem;
  height: 15rem;
  padding: 2.5rem 1.5rem 2.5rem 1.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 60%;
  left: 2rem;
}

.lemusienTitle {
  height: 19px;
  font-size: 1.3rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.2rem;
  text-align: left;
  color: var(--title);
}

.lemusienName {
  height: 35px;
  font-size: 2.4rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.1rem;
  text-align: left;
  color: var(--title);
}

.lemusienInfo p {
  width: 100%;
  height: 4rem;
  font-size: 1.3rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.05rem;
  text-align: left;
  color: var(--title);
}

/*------------레뮤제 조직도------------*/

.mainStory {
  justify-content: center;
  background: var(--backgroundColor);
}

.contentsStory {
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: 20rem 0;
}

.storyTeam {
  width: 129rem;
  height: 40.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: space-between;
  grid-column-gap: 4rem;
}

.teamCard a {
  width: 29rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 1rem;
  border-radius: 1rem;
}

.teamCardImg {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: var(--unselectedText);
}

.teamCard span h4 {
  width: 100%;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.08rem;
  text-align: center;
  color: var(--title);
}

.teamCard p {
  width: 27rem;
  height: 11rem;
  font-size: 1.5rem;
  letter-spacing: -0.03rem;
  text-align: center;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  color: var(--unselectedText);
}

/*------------테마별 인덱스------------*/

.mainCategory {
  background: var(--bgPointColor);
}

.contentsCategory {
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 4rem 0 6rem;
}

/*------------레뮤제 임원들------------*/

.mainExecutives {
  background: var(--backgroundColor);
}

.contentsExecutives {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 0 15rem;
  gap: 10rem;
}

.executiveTitle {
  width: 10.5rem;
}

.executiveBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.executiveInfo {
  display: flex;
  flex-direction: row;
  width: 40rem;
}

.executiveName {
  width: 6.5rem;
}

.executiveName .contentsTitle h3 {
  color: var(--unselectedText);
  right: 0;
  font-weight: 500;
  text-align: right;
  letter-spacing: 0.25rem;
}

.executivePosition {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.executivePosition h3 {
  letter-spacing: 0.25rem;
}
/*------------푸터------------*/
